* {
    box-sizing: border-box;
}
.container {
    font-family: Arial, Helvetica, sans-serif;
    width: 800px;
    margin: 30px auto 0;
    background-color: #f6f6f6;
}
.container .addTask {
    padding: 15px;
    background-color: #009688;
    position: relative;
}
.container .addTask input {
    display: inline-block;
    padding: 10px 15px;
    border: none;
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
    width: calc(100% - 15px);
    font-size: 20px;
}
.container .addTask input:focus {
    outline: none;
}
.container .addTask .plus {
    width: 43px;
    height: 43px;
    border: none;
    background-color: #fff;
    color: #009688;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
    line-height: 43px;
    font-size: 39px;
    position: absolute;
    right: 12px;
    text-align: center;
}
.container .addTask .plus:hover {
    transform: rotate(90deg);
}
.container p{
    color:#f00;
}
.container .taskContent {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.container .taskContent span {
    font-size: 15px;
    color: #777;
}
.container .taskContent .editAndDelete,.updateAndClose{
    display: flex;
}
.container .taskContent .editAndDelete .edit,.container .taskContent .editAndDelete .delete,.container .taskContent  .update,.container .taskContent  .close{
    cursor: pointer;
    margin-left: 5px;
}

